<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>主页</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../static/fonts/mdi/css/materialdesignicons.min.css" th:href="@{/fonts/mdi/css/materialdesignicons.min.css}">
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../static/css/lightgallery.min.css" th:href="@{/css/lightgallery.min.css}">
    <!-- inject:css -->
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <!-- Layout styles -->
    <link rel="stylesheet" href="../static/css/layout.css" th:href="@{/css/layout.css}">
  </head>

  <body>
    <!--[if lte IE 9]>
      <div>
        <p>您当前浏览器存在安全风险，建议您更换浏览器</p>
      </div>
    <![endif]-->
    <div id="app" class="container-scroller" v-cloak>
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
          <form class="ml-auto search-form d-none d-md-block" action="#">
            <div class="form-group">
              <input type="search" class="form-control" placeholder="搜索">
            </div>
          </form>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-bell-outline"></i>
                <!--<span class="count">0</span>-->
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="messageDropdown">
                <a class="dropdown-item py-3">
                  <p class="mb-0 font-weight-medium float-left">您有0封未读邮件</p>
                  <span class="badge badge-pill badge-primary float-right">查看</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                  </div>
                  <div class="preview-item-content flex-grow py-2">
                    <p class="preview-subject ellipsis font-weight-medium text-dark"> </p>
                    <p class="font-weight-light small-text"> </p>
                  </div>
                </a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator" id="notificationDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-email-outline"></i>
                <!--<span class="count bg-success">0</span>-->
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="notificationDropdown">
                <a class="dropdown-item py-3 border-bottom">
                  <p class="mb-0 font-weight-medium float-left"> 您有0个新通知 </p>
                  <span class="badge badge-pill badge-primary float-right">查看</span>
                </a>
                <a class="dropdown-item preview-item py-3">
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal text-dark mb-1"></h6>
                    <p class="font-weight-light small-text mb-0">  </p>
                  </div>
                </a>
              </div>
            </li>
            <li class="nav-item dropdown" sec:authorize="isAnonymous()">
              <div>
                <a th:href="@{/login}">登录</a>
                <span>&nbsp/&nbsp</span>
                <a th:href="@{/register}">注册</a>
              </div>
            </li>
            <li v-if="display" class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
              <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <img class="img-xs rounded-circle" src="" :src="avatar" alt="Profile image">
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                <div  class="dropdown-header text-center">
                  <img class="img-md rounded-circle" src="" :src="avatar" alt="Profile image">
                  <p class="mb-1 mt-3 font-weight-semibold">{{ username }} </p>
                  <p class="font-weight-light text-muted mb-0">{{ role }}</p>
                </div>
                <a class="dropdown-item" href="/personal/account">我的账户信息</a>
                <a class="dropdown-item" href="/personal/change_password">修改密码</a>
                <a class="dropdown-item" href="#">问题解答</a>
                <form action="#" th:action="@{/logout}" method="post">
                  <button type="submit" class="dropdown-item">登出</button>
                </form>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="icon-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <div class="nav-link" sec:authorize="isAnonymous()">
                <div class="user-wrapper">
                  <a class="text-white" th:href="@{/login}">登录</a>
                  <span>&nbsp/&nbsp</span>
                  <a class="text-white" th:href="@{/register}">注册</a>
                </div>
              </div>
              <a v-if="display" href="/personal/account" class="nav-link">
                <div class="profile-image">
                  <img class="img-xs rounded-circle" src="" :src="avatar" alt="profile image">
                  <div class="dot-indicator bg-success"></div>
                </div>
                <div class="text-wrapper">
                  <p class="profile-name">{{ username }}</p>
                  <p class="designation">{{ role }}</p>
                </div>
              </a>
            </li>
            <li class="nav-item nav-category">主菜单</li>
            <li class="nav-item">
              <a class="nav-link" href="/home">
                <span class="menu-title">主页</span>
              </a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
              <a class="nav-link" href="/notice">
                <span class="menu-title">通知</span>
              </a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
              <a class="nav-link" data-toggle="collapse" href="#account" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">个人中心</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="account">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="/personal/account">账号信息</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/personal/dept_details">所属部门</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/personal/role_details">拥有角色</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/personal/upload">修改头像</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/personal/change_password">修改密码</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
              <a class="nav-link" data-toggle="collapse" href="#apps-dropdown" aria-expanded="false" aria-controls="apps-dropdown">
                <span class="menu-title">应用程序</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="apps-dropdown">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="/app/chat">聊天</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/app/email">电子邮件</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/app/calendar">日历事件</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_DEPTS')">
              <a class="nav-link" data-toggle="collapse" href="#dept" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">部门管理</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="dept">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="/dept/dept_list">部门列表</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/dept/dept_add">新增部门</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/dept/dept_update">修改部门</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_USERS')">
              <a class="nav-link" data-toggle="collapse" href="#user" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">员工管理</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="user">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="/user/user_list">员工列表</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/user/user_add">新增员工</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/user/user_update">修改员工</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_ROLES')">
              <a class="nav-link" data-toggle="collapse" href="#role" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">角色管理</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="role">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="/role/role_list">角色列表</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/role/role_add">新增角色</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/role/role_update">修改角色</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                  <div class="card-body">
                    <div class="clearfix">
                      <div class="float-left">
                        <i class="mdi mdi-account-plus text-danger icon-lg"></i>
                      </div>
                      <div class="float-right">
                        <p class="mb-0 text-right">在线人数</p>
                        <div class="fluid-container">
                          <h3 class="font-weight-medium text-right mb-0" data-id="userOnLineCount">0</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                  <div class="card-body">
                    <div class="clearfix">
                      <div class="float-left">
                        <i class="mdi mdi-briefcase-account text-warning icon-lg"></i>
                      </div>
                      <div class="float-right">
                        <p class="mb-0 text-right">部门总数</p>
                        <div class="fluid-container">
                          <h3 class="font-weight-medium text-right mb-0" data-id="deptCount">0</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                  <div class="card-body">
                    <div class="clearfix">
                      <div class="float-left">
                        <i class="mdi mdi-account-group text-success icon-lg"></i>
                      </div>
                      <div class="float-right">
                        <p class="mb-0 text-right">员工总数</p>
                        <div class="fluid-container">
                          <h3 class="font-weight-medium text-right mb-0" data-id="userCount">0</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                  <div class="card-body">
                    <div class="clearfix">
                      <div class="float-left">
                        <i class="mdi mdi-account-card-details-outline text-info icon-lg"></i>
                      </div>
                      <div class="float-right">
                        <p class="mb-0 text-right">角色总数</p>
                        <div class="fluid-container">
                          <h3 class="font-weight-medium text-right mb-0" data-id="roleCount">0</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row grid-margin">
              <div class="col-lg-12">
                <div class="card px-3">
                  <div class="card-body">
                    <h4 class="card-title">图片（随便放点东西占地方）</h4>
                    <div id="lightgallery" class="row lightGallery">
                      <a href="../static/images/samples/1.jpg" th:href="@{/images/samples/1.jpg}" class="image-tile">
                        <img src="../static/images/samples/thumbnail/1.jpg" th:src="@{/images/samples/thumbnail/1.jpg}" alt="image small">
                      </a>
                      <a href="../static/images/samples/2.jpg" th:href="@{/images/samples/2.jpg}" class="image-tile">
                        <img src="../static/images/samples/thumbnail/2.jpg" th:src="@{/images/samples/thumbnail/2.jpg}" alt="image small">
                      </a>
                      <a href="../static/images/samples/3.jpg" th:href="@{/images/samples/3.jpg}" class="image-tile">
                        <img src="../static/images/samples/thumbnail/3.jpg" th:src="@{/images/samples/thumbnail/3.jpg}" alt="image small">
                      </a>
                      <a href="../static/images/samples/4.jpg" th:href="@{/images/samples/4.jpg}" class="image-tile">
                        <img src="../static/images/samples/thumbnail/4.jpg" th:src="@{/images/samples/thumbnail/4.jpg}" alt="image small">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019
                <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.
              </span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../static/js/plugins/vendor.bundle.base.js" th:src="@{/js/plugins/vendor.bundle.base.js}"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="../static/js/inject/off-canvas.js" th:src="@{/js/inject/off-canvas.js}"></script>
    <script src="../static/js/inject/misc.js" th:src="@{/js/inject/misc.js}"></script>
    <script src="../static/js/inject/userData.js" th:src="@{/js/inject/userData.js}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="../static/js/custom/get-count.js" th:src="@{/js/custom/get-count.js}"></script>
    <script src="../static/js/inject/lightgallery.min.js" th:src="@{/js/inject/lightgallery.min.js}"></script>
    <script src="../static/js/custom/gallery.js" th:src="@{/js/custom/gallery.js}"></script>
    <!-- End custom js for this page-->
  </body>

</html>