<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>注册</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../static/fonts/mdi/css/materialdesignicons.min.css" th:href="@{/fonts/mdi/css/materialdesignicons.min.css}">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <!-- endinject -->
  </head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <h2 class="text-center mb-4">注册</h2>
            <div class="auto-form-wrapper">
              <div class="error" th:if="${error}">
                <div class="alert alert-fill-danger" role="alert">
                  <i class="mdi mdi-alert-circle"></i>
                  <span th:text="${errorMsg}"></span>
                </div>
              </div>
              <form id="register" class="forms-sample" th:action="@{/registered}" method="post">
                <div class="form-group">
                  <label class="label" for="username">用户名</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="username" name="username" minlength="4" placeholder="用户名">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="label" for="password">密码</label>
                  <div class="input-group">
                    <input type="password" class="form-control" id="password" name="password" minlength="8" placeholder="密码" autocomplete>
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="label" for="confirm_password">确认密码</label>
                  <div class="input-group">
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="确认密码" autocomplete>
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="label">完成验证：</label>
                  <div id="captcha" name="captcha">
                    <div id="wait" class="bar-loader">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <br>
                  <p id="notice" class="text-danger" style="display: none;">请先完成验证</p>
                </div>
                <div class="form-group d-flex justify-content-center">
                  <div class="form-check form-check-flat mt-0">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" checked> 我同意这些条款
                      <i class="input-helper"></i>
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary submit-btn btn-block">注册</button>
                </div>
                <div class="text-block text-center my-3">
                  <span class="text-small font-weight-semibold">已经拥有帐户？</span>
                  <a href="login" class="text-black text-small">登录</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../static/js/plugins/vendor.bundle.base.js" th:src="@{/js/plugins/vendor.bundle.base.js}"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="../static/js/inject/jquery.validate.min.js" th:src="@{/js/inject/jquery.validate.min.js}"></script>
  <script src="../static/js/inject/geetest.js" th:src="@{/js/custom/geetest.js}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../static/js/custom/csrf.js"  th:src="@{/js/custom/csrf.js}"></script>
  <script src="../static/js/custom/table/form-validation.js" th:src="@{/js/custom/table/form-validation.js}"></script>
  <!-- End custom js for this page-->
</body>
</html>