<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>忘记密码</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../static/fonts/mdi/css/materialdesignicons.min.css" th:href="@{/fonts/mdi/css/materialdesignicons.min.css}">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <!-- endinject -->
  </head>

  <body>
    <div class="container-scroller">
      <div class="container-fluid full-page-wrapper auth-page">
        <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
          <div class="row w-100">
            <div class="ol-lg-4 mx-auto">
              <h2 class="text-center mb-4">重设密码</h2>
              <div class="auto-form-wrapper">
                <form id="reset_password">
                  <div>
                    <div class="form-group">
                      <label for="email" class="label">请输入电子邮箱</label>
                      <input id="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="确认邮箱">
                      <small id="emailHelp" class="form-text text-muted">请使用私人邮箱，我们永远不会与其他人分享你的邮箱。</small>
                    </div>
                    <button type="button" class="btn btn-info submit-btn">发送邮件(待开发)</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- plugins:js -->
    <script src="../static/js/plugins/vendor.bundle.base.js" th:src="@{/js/plugins/vendor.bundle.base.js}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- Custom js for this page-->
    <!-- End custom js for this page-->
  </body>
</html>