<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin Free Bootstrap Admin Dashboard Template</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../static/fonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../static/css/plugins/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../static/css/plugins/vendor.bundle.addons.css">
    <!-- inject:css -->
    <link rel="stylesheet" href="../../static/css/style.css">
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../static/css/layout.css">
  </head>

  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
          <a class="navbar-brand brand-logo" href="../home.html">
            <img src="../../static/images/logo.svg" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="../home.html">
            <img src="../../static/images/logo-mini.svg" alt="logo" />
          </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
          <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
            <li class="nav-item">
              <a href="#" class="nav-link">Schedule
                <span class="badge badge-primary ml-1">New</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="mdi mdi-elevation-rise"></i>Reports</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="mdi mdi-bookmark-plus-outline"></i>Score</a>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-file-outline"></i>
                <span class="count">7</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="messageDropdown">
                <a class="dropdown-item py-3">
                  <p class="mb-0 font-weight-medium float-left">You have 7 unread mails </p>
                  <span class="badge badge-pill badge-primary float-right">View all</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="../../static/images/faces/face10.jpg" alt="image" class="img-sm profile-pic"> </div>
                  <div class="preview-item-content flex-grow py-2">
                    <p class="preview-subject ellipsis font-weight-medium text-dark">Marian Garner </p>
                    <p class="font-weight-light small-text"> The meeting is cancelled </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="../../static/images/faces/face12.jpg" alt="image" class="img-sm profile-pic"> </div>
                  <div class="preview-item-content flex-grow py-2">
                    <p class="preview-subject ellipsis font-weight-medium text-dark">David Grey </p>
                    <p class="font-weight-light small-text"> The meeting is cancelled </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="../../static/images/faces/face1.jpg" alt="image" class="img-sm profile-pic"> </div>
                  <div class="preview-item-content flex-grow py-2">
                    <p class="preview-subject ellipsis font-weight-medium text-dark">Travis Jenkins </p>
                    <p class="font-weight-light small-text"> The meeting is cancelled </p>
                  </div>
                </a>
              </div>
            </li>
            <li class="nav-item dropdown ml-4">
              <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-bell-outline"></i>
                <span class="count bg-success">4</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="notificationDropdown">
                <a class="dropdown-item py-3 border-bottom">
                  <p class="mb-0 font-weight-medium float-left">You have 4 new notifications </p>
                  <span class="badge badge-pill badge-primary float-right">View all</span>
                </a>
                <a class="dropdown-item preview-item py-3">
                  <div class="preview-thumbnail">
                    <i class="mdi mdi-alert m-auto text-primary"></i>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal text-dark mb-1">Application Error</h6>
                    <p class="font-weight-light small-text mb-0"> Just now </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item py-3">
                  <div class="preview-thumbnail">
                    <i class="mdi mdi-settings m-auto text-primary"></i>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal text-dark mb-1">Settings</h6>
                    <p class="font-weight-light small-text mb-0"> Private message </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item py-3">
                  <div class="preview-thumbnail">
                    <i class="mdi mdi-airballoon m-auto text-primary"></i>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal text-dark mb-1">New member registration</h6>
                    <p class="font-weight-light small-text mb-0"> 2 days ago </p>
                  </div>
                </a>
              </div>
            </li>
            <li class="nav-item dropdown d-none d-xl-inline-block">
              <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <span class="profile-text">Hello, Richard V.Welsh !</span>
                <img class="img-xs rounded-circle" src="../../static/images/faces-clipart/pic-1.png" alt="Profile image">
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                <a class="dropdown-item p-0">
                  <div class="d-flex border-bottom">
                    <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                      <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
                    </div>
                    <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                      <i class="mdi mdi-account-outline mr-0 text-gray"></i>
                    </div>
                    <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                      <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item mt-2" href="../personal/account.html">
                  管理账号
                </a>
                <a class="dropdown-item" href="../personal/account.html">
                  修改密码
                </a>
                <a class="dropdown-item" href="../personal/account.html">
                  登出
                </a>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="icon-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <div class="nav-link">
                <div class="member-wrapper">
                  <div class="profile-image">
                    <img src="../../static/images/faces/face1.jpg" alt="profile image">
                  </div>
                  <div class="text-wrapper">
                    <p class="profile-name">name</p>
                    <div>
                      <small class="designation text-muted">role</small>
                      <span class="status-indicator online"></span>
                    </div>
                  </div>
                </div>
                <button class="btn btn-success btn-block">新的项目
                  <i class="mdi mdi-plus"></i>
                </button>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index_1.html">
                <i class="menu-icon mdi mdi-television"></i>
                <span class="menu-title">主页</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../notice.html">
                <i class="menu-icon mdi mdi-clipboard-alert"></i>
                <span class="menu-title">通知</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#account" aria-expanded="false" aria-controls="ui-basic">
                <i class="menu-icon mdi mdi-account"></i>
                <span class="menu-title">个人中心</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="account">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="../personal/account.html">账号信息</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../personal/account.html">修改头像</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../personal/account.html">设置邮箱</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../personal/account.html">聊天</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#apps-dropdown" aria-expanded="false" aria-controls="apps-dropdown">
                <i class="menu-icon mdi mdi-dna"></i>
                <span class="menu-title">应用程序</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="apps-dropdown">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item active">
                    <a class="nav-link" href="email.html">电子邮件</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="calendar.html">日历事件</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#dept" aria-expanded="false" aria-controls="ui-basic">
                <i class="menu-icon mdi mdi-briefcase"></i>
                <span class="menu-title">部门管理</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="dept">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="/dept/list">部门列表</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/dept/list">新增部门</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/dept/list">修改部门</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#member" aria-expanded="false" aria-controls="ui-basic">
                <i class="menu-icon mdi mdi-account-multiple"></i>
                <span class="menu-title">员工管理</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="member">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="/member/list">员工列表</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/member/list">新增员工</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/member/list">修改员工</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#role" aria-expanded="false" aria-controls="ui-basic">
                <i class="menu-icon mdi mdi-account-key"></i>
                <span class="menu-title">岗位管理</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="role">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="/role/list">岗位列表</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/role/list">新增岗位</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/role/list">修改岗位</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper px-3 pt-0 pb-0">
            <div class="email-wrapper wrapper">
              <div class="row align-items-stretch">
                <div class="mail-sidebar d-none d-lg-block col-md-2 pt-3 bg-white">
                  <div class="menu-bar">
                    <ul class="menu-items">
                      <li class="compose mb-3">
                        <button class="btn btn-primary btn-block">写信</button>
                      </li>
                      <li class="active">
                        <a href="#">
                          <i class="mdi mdi-email-outline"></i> 收件箱</a>
                        <span class="badge badge-pill badge-success">8</span>
                      </li>
                      <li>
                        <a href="#">
                          <i class="mdi mdi-share"></i> 发送</a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="mdi mdi-file-outline"></i> 草案</a>
                        <span class="badge badge-pill badge-warning">4</span>
                      </li>
                      <li>
                        <a href="#">
                          <i class="mdi mdi-upload"></i> 发件箱</a>
                        <span class="badge badge-pill badge-danger">3</span>
                      </li>
                      <li>
                        <a href="#">
                          <i class="mdi mdi-star-outline"></i> 星标</a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="mdi mdi-delete"></i> 垃圾桶</a>
                      </li>
                    </ul>
                    <div class="wrapper">
                      <div class="online-status d-flex justify-content-between align-items-center">
                        <p class="chat">聊天</p>
                        <span class="status offline online"></span>
                      </div>
                    </div>
                    <ul class="profile-list">
                      <li class="profile-list-item">
                        <a href="#">
                          <span class="pro-pic">
                            <img src="../../static/images/faces-clipart/pic-1.png" alt="">
                          </span>
                          <div class="member">
                            <p class="u-name">David</p>
                            <p class="u-designation">Python Developer</p>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="mail-list-container col-md-3 pt-4 pb-4 border-right bg-white">
                  <div class="border-bottom pb-4 mb-3 px-3">
                    <div class="form-group">
                      <input class="form-control form-control-sm w-100" type="search" placeholder="搜索邮件" id="Mail-rearch"> </div>
                  </div>
                  <div class="mail-list">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"> <i class="input-helper"></i></label>
                    </div>
                    <div class="content">
                      <p class="sender-name">邮件标题</p>
                      <p class="message_text">邮件内容</p>
                    </div>
                    <div class="details">
                      <i class="mdi mdi-star-outline"></i>
                    </div>
                  </div>
                  <div class="mail-list new_mail">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" checked=""> <i class="input-helper"></i></label>
                    </div>
                    <div class="content">
                      <p class="sender-name">邮件标题</p>
                      <p class="message_text">邮件内容</p>
                    </div>
                    <div class="details">
                      <i class="mdi mdi-star favorite"></i>
                    </div>
                  </div>
                </div>
                <div class="mail-view d-none d-md-block col-md-9 col-lg-7 bg-white">
                  <div class="row">
                    <div class="col-md-12 mb-4 mt-4">
                      <div class="btn-toolbar">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">
                            <i class="mdi mdi-reply text-primary"></i> 回复</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">
                            <i class="mdi mdi-reply-all text-primary"></i> 回复全部</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">
                            <i class="mdi mdi-share text-primary"></i> 向前</button>
                        </div>
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">
                            <i class="mdi mdi-attachment text-primary"></i> 附件</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">
                            <i class="mdi mdi-delete text-primary"></i> 删除</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="message-body">
                    <div class="sender-details">
                      <img class="img-sm rounded-circle mr-3" src="../../static/images/faces-clipart/pic-1.png" alt="">
                      <div class="details">
                        <p class="msg-subject"> 内容 - 时间 </p>
                        <p class="sender-email"> 名字
                          <a href="#">邮箱</a> &nbsp;
                          <i class="mdi mdi-account-multiple-plus"></i>
                        </p>
                      </div>
                    </div>
                    <div class="message-content">
                      <p>内容</p>
                    </div>
                    <div class="attachments-sections">
                      <ul>
                        <li>
                          <div class="thumb">
                            <i class="mdi mdi-file-pdf"></i>
                          </div>
                          <div class="details">
                            <p class="file-name">文件名</p>
                            <div class="buttons">
                              <p class="file-size">678Kb</p>
                              <a href="#" class="view">查看</a>
                              <a href="#" class="download">下载</a>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="thumb">
                            <i class="mdi mdi-file-image"></i>
                          </div>
                          <div class="details">
                            <p class="file-name">文件名</p>
                            <div class="buttons">
                              <p class="file-size">1.96Mb</p>
                              <a href="#" class="view">查看</a>
                              <a href="#" class="download">下载</a>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
              <a href="http://www.ccc.com/" target="_blank">ccc</a>. All rights reserved.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
              <i class="mdi mdi-heart text-danger"></i>
            </span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    <script src="../../static/js/plugins/vendor.bundle.base.js"></script>
    <script src="../../static/js/plugins/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="../../static/js/inject/off-canvas.js"></script>
    <script src="../../static/js/inject/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <!-- End custom js for this page-->
  </body>

</html>